div {
  div {
    border: 10px solid black;
    border-radius: 1.2vw;
    padding: 4%;
    padding-bottom: 80%;
    background-color: rgb(243, 238, 232);
    color: rgb(199, 33, 33);
    font-size: 8rem;
    font-family: sans-serif;
  }
  display: flex;
  width: 100vw;
  height: 100vh;
}

#modal {
  background-color: #bbb;
  width: 50vw; 
  height: 50vh;
  border-radius: 2vh;
}

.kbcontainer {
  width: 100vw;
}

.blackkeys {
  position: absolute; 
  top: 0; 
  width: 30vw;
}