div {
  div {
    border: 1px solid black;
    padding: 4%;
    padding-bottom: 80%;
    background-color: rgb(30, 102, 236);
    color: white;
    font-size: 4rem;
  }
  display: flex;
  width: 100vw;
  height: 100vh;
}